.list {
  .textItem,
  .linkItem {
    @apply mt-sds-l;
  }

  &.inline {
    .textItem,
    .linkItem {
      @apply inline-flex items-center mt-0;

      // Add commas for every item except the last.
      &:not(:last-child)::after {
        @apply mr-sds-xxs;
        content: ', ';
      }
    }

    .linkItem {
      // Limit inline link items to be as long as the content.
      @apply w-max space-x-2;

      // Make icons inline.
      svg {
        display: inline;
      }
    }
  }

  &.preview .linkItem.empty:not(:first-child) {
    @apply mt-sds-xxs;
  }
}
