html {
  /*
    Enable scrollbar for the entire page by default. This is to prevent
    layout shift when switching between pages that have content long enough /
    not long enough for a scrollbar.
  */
  @apply overflow-y-scroll;

  /*
    Use viewport width for fluid typography. The minimum font size is from
    the design spec, and the maximum font size is set to the user's preferred
    font size set by their browser settings.

    Texts, margins, and paddings should use the `text-<size>` Tailwind classes or rem / em units in
    CSS to ensure the font size is more accessible.

    https://blog.logrocket.com/the-elements-of-responsive-typography
  */
  font-size: clamp(11px, 3.25vw, 100%);

  /*
    Use smooth transition when scrolling between different parts of the page.

    TODO This currently has no support in Safari, so we'll probably have to
    implement a solution in TypeScript.
    https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior
  */
  scroll-behavior: smooth;
}

body {
  /*
    Overflow body along x-axis when contents are too long for the page. This
    should only happen in rare cases where the viewport is < 300px.
  */
  @apply overflow-x-auto;
}

/* stylelint-disable selector-max-id */
#__next {
  /*
    Limit minimum width to 300px so that the the body will begin overflowing
    for viewports smaller than 300px.
  */
  @apply min-w-napari-xs;
}
/* stylelint-enable */
