/**
 * Class that adds a comma after every child except the last.  Useful for
 * making long lists inline.
 */
.commaList {
  &::after {
    content: ', ';
  }

  &:last-child::after {
    content: '';
  }
}
