.expandIcon {
  &.expanded {
    transform: rotate(45deg);
  }
}

.accordion {
  &.expanded::before {
    opacity: 1;
  }

  &.expanded + & {
    &::before {
      display: initial;
    }
  }

  &::before {
    background-color: #000;
  }
}
