.expandIcon {
  @apply transition-transform;

  &.expanded {
    transform: rotate(90deg);
  }
}

.accordion {
  &.expanded::before {
    opacity: 1;
  }

  &::before {
    background-color: #000;
  }

  &.expanded + & {
    &::before {
      display: initial;
    }
  }
}

.summary {
  // Prevent weird scrolling issue when expanding the accordion.
  &,
  &.expanded {
    @apply h-12 min-h-12;
  }
}
