/* stylelint-disable selector-class-pattern */

.expandIcon {
  @apply transition-transform;

  &.expanded {
    transform: rotate(90deg) !important;
  }
}

:global(.MuiPaper-root).accordion {
  &.expanded::before {
    opacity: 1;
  }

  &::before {
    background-color: #000;
  }

  &.expanded + & {
    &::before {
      display: initial !important;
    }
  }

  .expandIcon {
    &.expanded {
      transform: rotate(136deg) !important;
    }
  }
}

.summary {
  // Prevent weird scrolling issue when expanding the accordion.
  &,
  &.expanded {
    @apply h-12 min-h-12;
  }
}
