import clsx from 'clsx';
import { ReactNode } from 'react';

import styles from './{{pascalCase name}}.module.scss';

interface Props {
  /**
   * Child node(s) that can be nested inside component.
   */
  children: ReactNode;

  /**
   * Make the text red.
   */
  red?: boolean;
}

/**
 * TODO: Update component description
 */
export function {{pascalCase name}}({ children, red }: Props) {
  return (
    <div className={clsx(styles.{{ camelCase name }}, red && styles.red)}>
      <h1>{children}</h1>
    </div>
  );
}
