# Workflow for running backend tests for PRs and main branch

name: Backend Tests

on:
  push:
    branches:
      - 'dev-*'
  #push:
  #  branches:
  #    - main
  #  paths:
  #    - 'backend/**'
  pull_request:
    branches:
      - '**'
    paths:
      - 'backend/**'

defaults:
  run:
    working-directory: backend/

jobs:
  # Runs pytest for backend code
  tests:
    name: pytest
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup Python
        uses: 'actions/setup-python@v3'
        with:
          python-version: "3.9"

      - name: Cache Python environment
        uses: 'actions/cache@v2'
        id: pip-cache
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}-${{ hashFiles('dev-requirements.txt') }}

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        working-directory: backend
        run : |
          python -m pytest utils api preview
