name: Push Remote Dev

on:
  push:
    branches:
      - 'dev-*'
  delete:
    branches:
      - 'dev-*'

env:
  # Force using BuildKit instead of normal Docker, required so that metadata
  # is written/read to allow us to use layers of previous builds as cache.
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_REPO: ${{ secrets.ECR_REPO }}/

jobs:
  create-update-dev:
    name: deploy dev branch
    runs-on: ubuntu-latest
    if: github.repository == 'chanzuckerberg/napari-hub'
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 900
      - name: Login to ECR
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.ECR_REPO }}
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Cache Pip
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'
          cache: 'pip'
      - name: Create update dev
        if: ${{ github.event_name == 'push' }}
        env:
          TFE_TOKEN: ${{ secrets.TFE_TOKEN }}
        run: |
          pip install --upgrade pip
          pip install -r .happy/requirements.txt
          DEV_NAME=${GITHUB_REF#refs/heads/dev-}
          if $(./scripts/happy --profile="" list | grep -q $DEV_NAME); then
            echo "Updating stack $DEV_NAME"
            ./scripts/happy --profile="" update $DEV_NAME
          else
            echo "Creating stack $DEV_NAME"
            ./scripts/happy --profile="" create $DEV_NAME
          fi
      - name: Delete dev
        if: ${{ github.event_name == 'delete' && startsWith(github.event.ref, 'dev-') }}
        env:
          TFE_TOKEN: ${{ secrets.TFE_TOKEN }}
        run: |
          pip install --upgrade pip
          pip install -r .happy/requirements.txt
          BRANCH=${{ github.event.ref }}
          DEV_NAME=${BRANCH#dev-}
          echo "Deleting stack $DEV_NAME"
          ./scripts/happy --profile="" delete $DEV_NAME